/* src/components/Navbar.css */
.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-link.active {
  font-weight: bold;
  color: #007bff !important;
}
.nav-link {
  color: #555;
}
.nav-link:hover {
  color: #007bff;
}
.img-small {
  width: 50px; /* Define el ancho deseado */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  border-radius: 10%;
  margin-left: 2000%; /* Alinea la imagen a la derecha */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegura que el li ocupe todo el ancho disponible */
}


