.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.machine-selector,
.option-selector,
.depth-selector,
.date-selector {
  flex: 1;
  min-width: 200px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px;
}

.selectors-row,
.inputs-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.selector-option,
.input-container,
.depth-selector {
  flex: 1;
  max-width: fit-content;
}

/* Elimina las flechas de los input numéricos */
.input-container input[type=number]::-webkit-inner-spin-button,
.input-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}
