.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-container label {
  margin-right: 10px;
}


select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px;
}

.selectors-row,
.inputs-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.selector-option,
.input-container,
.depth-selector {
  flex: 1;
  max-width: fit-content;
}

.input-container input[type=number]::-webkit-inner-spin-button,
.input-container input[type=number]::-webkit-outer-spin-button,
.input-gates::-webkit-inner-spin-button,
.input-gates::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield; 
  border-radius: 5px;
  border-color: #ebe8e8;
  border-top-color: #ffffff;
}
